# Build
bin/
obj/

# Rider
.idea/
*.sln.iml
.idea_modules/

# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# VS interne Dateien
*.vsidx
*.dbcache
*.bin
slnx.sqlite
VSWorkspaceState.json
UpgradeLog.htm

# macOS
.DS_Store

# Logs
*.log

# NuGet Packages
*.nupkg

# Test Results
TestResults/

# Local Settings
appsettings.Development.json

# Generated Reports
reports/*.pdf
reports/*.lsp

# Backup-Dateien
Backup/

# ReSharper / Rider Cache
_ReSharper*/
*.DotSettings.user